<div class="contacts_container">

<div class="contacts_ticker">
  <h2><%= @contacts_ticker%></h2>

</div>

<ul>
  <% Contact.all.each do |contact| %> </li>
  <div class="contact_box">
    <div class="contact_container">
      <li> <%=contact.first_name %> <%= contact.last_name%> || <%=contact.email %>  </li>
      <p>-----------------------------------------------------------------------------------------</p>
      <li><i> <%=contact.note %></i></li>
    </div>
  </div>
    <% end %>
  </ul>

</div>
